footer {
  background-color: var(--preto);
  color: var(--branco);
  height: 386px;
}

div.footer-container {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

div.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p, footer span {
  font-family: var(--font-footer);
}

div.redes-sociais {
  display: flex;
  align-items: center;
  gap: 1rem
}

div.redes-sociais span {
  text-transform: uppercase;
  margin-right: 1rem;
}

div.footer-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--branco);
  border-bottom: 1px solid var(--branco);
  padding: 32px 0;
}

div.footer-body span {
  font-weight: 700;
  margin-right: 15px;
}

div.footer-end {
  display: flex;
  justify-content: space-between;
}

div.footer-end p {
  font-size: .75rem;
  text-align: right;
}
div.footer-end a, div.footer-body a {
  color: var(--branco);
}

div.footer-body a {
  margin-left: 13px;
  font-weight: 400;
}

img.icone-mapa {
  margin-left: 8px;
}